<div class="ui form">
<%= form_with(model: topic, local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation" class="ui red message">
      <i class="close icon"></i>
      <div class="header">
        <%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:
      </div>

      <ul class="list">
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :topic_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :topic_content %>
  </div>

  <div class="actions">
    <%= form.submit "Save Topic", class: "ui primary button" %>
  </div>
<% end %>
</div>
