<div>
  <div>
    <%= link_to 'Edit', edit_topic_path(@topic), class: "ui small primary button" %>
    <%= link_to 'Back', topics_path, class: "ui small gray button" %>
  </div>
  <hr>
  <div class="topic_header"><%= @topic.title %></div>

  <div class="topic_content">
    <%= @topic.content %>
  </div>
  <hr />
</div>
<div>
  <h2>There are <%= @topic.comments.count %> comments on this Topic. </h2>
  <% @topic.comments.each do |comment| %>
    <div>
        <div><%= comment.user.name %></div>
        <div><%= comment.comment %></div>
    </div>
  <% end %>
  <h3>Reply to Topic</h3>
  <%= render "comments/form"  %>
</div>
