<div class="ui secondary menu forumMenu">
  <%= link_to root_path, class: "ui image" do %>
    <%= image_tag("vanhack-logo") %>
  <% end %>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <%= form_tag(topics_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Topics" %>
          <%= button_tag(type: "submit", class: "ui gray basic button") do %><i class="search link icon"></i><% end %>
        <% end %>

      </div>
    </div>

    <% if logged_in? %>
      <div class="ui simple dropdown item">
          <div class="ui mini image"><%= gravatar_for current_user %></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">
              <%= link_to "View Profile", current_user, class:"ui primary button" %>
            </div>
            <div class="item">
              <%= link_to "Edit Profile", edit_user_path(current_user), class:"ui primary button" %>
            </div>
          </div>
      </div>
      <div class="item">
        <%= link_to "Log out", logout_path, class:"ui secondary button" , method: :delete %>
      </div>
    <% else %>
    <div class="item">
      <%= link_to "Log in", login_path, class: "ui primary button" %>
    </div>
    <div class="item">
      <%= link_to "Sign Up", signup_path, class: "ui primary button" %>
    </div>
    <% end %>
  </div>
</div>
