<div class="ui secondary  menu">
  <%= link_to "Vanhack Awesome Forum", root_path, class: "active item" %>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>

    <% if logged_in? %>
      <div class="item">
        <%= link_to @current_user.name, current_user, class:"ui primary button" %>
      </div>
      <div class="item">
        <%= link_to "Settings", edit_user_path(current_user), class:"ui primary button" %>
      </div>
      <div class="item">
        <%= link_to "Log out", logout_path, class:"ui secondary button" , method: :delete %>
      </div>
    <% else %>
    <div class="item">
      <%= link_to "Log in", login_path, class: "ui primary button" %>
    </div>
    <% end %>
  </div>
</div>
