<!DOCTYPE html>
<html>
  <head>
    <title>VanhackAwesomeForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
  <%= render "layouts/header" %>
	<div class="ui container">

    <% flash.each do |message_type, message| %>
        <div class="<%= flash_class(message_type) %> closable">
          <i class="close icon"></i>
          <%= message %>
        </div>
      <% end %>

		<%= yield %>
	</div>
  <div class="debugBox">
    <%= debug(params) if Rails.env.development? %>
  </div>
  <%= render "layouts/footer" %>
  </body>
</html>
